.search
	.element-input-search

	.container-results
		margin-top: 60px
		margin-left: 10px
		margin-right: 10px
		display: flex
		font-family: Helvetica

		.results-search
			font-family: Helvetica
			display: flex
			justify-content: space-around
			flex-wrap: wrap
