.search
	position: absolute
	top: 15px
	left: 15px
	right: 15px
	bottom: 15px
	overflow-y: scroll
	background-color: $black-haze
	padding: 15px 30px
	border-radius: 5px
	min-width: 1400px

.search > div
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-items: center
