.landing {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #212121;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

h1 {
  color: #d0544d; }

.component-link {
  padding: 10px 40px;
  background-color: #6d8091;
  color: #f7f7f7;
  text-decoration: none;
  border-radius: 4px; }

.component-link:hover {
  background-color: #8f8f94; }

.search .container-results {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex; }
  .search .container-results .results-search {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.component-card {
  width: 260px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 25px;
  padding-right: 10px;
  position: relative;
  background-color: white; }
  .component-card .element-image {
    width: auto;
      width-position: relative;
    float: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px; }
  .component-card .element-plot {
    font-size: 65%;
    font-style: italic;
    margin-left: 10px; }
  .component-card .element-released {
    font-size: 70%;
    font-weight: bolder;
    margin-left: 10px; }
  .component-card .element-title {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px; }
  .component-card .element-budget {
    font-size: 70%;
    font-weight: bolder;
    margin-left: 10px; }
  .component-card .element-actors {
    font-size: 70%;
    margin-left: 10px; }

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #212121;
  padding: 8px 30px; }
  .header .search-title-bar {
    color: #d0544d;
    display: inline-flex;
    margin-right: 60px; }

.header > h1 {
  font-family: Helvetica;
  font-weight: normal;
  color: #65b0f4;
  margin: 0; }

.header > h1 > a {
  color: #65b0f4;
  text-decoration: none; }

.header > h2 {
  font-weight: normal;
  margin: 0; }

.header > h2 > a {
  color: #8f8f94;
  text-decoration: none; }

.header > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #f7f7f7;
  border-radius: 4px; }
