@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.collection-card {
	width: 320px;
	border: 2px solid #333;
	border-radius: 4px;
	margin-bottom: 25px;
	padding-right: 10px;
	position: relative;
	background-color: white;
}

.collection-card-title {
	font-size: 1.2em;
	font-weight: bold;
}

.collection-card-plot {
	font-size: .85em;
	font-style: italic;
}